
@font-face {
  font-family: 'Duarose';
  src: url('Duarose-Regular.otf');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Duarose', sans-serif;
    background-color: #c5c4c4;
   
  }
  
  header {
      background-color: #003366;
      color: #fff;
      padding: 10px 0;
      text-align: center;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  nav ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
  }
  
  nav ul li {
      margin-right: 20px;
  }
  
  nav ul li a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
  }
  
  .content {
      padding: 20px;
  }
  
  nav ul li a:hover {
      color: rgb(110, 110, 165); 
  }
  
  .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      background-color: rgb(39, 53, 134);
     
      z-index: 1;
      border-radius: 10px;
    }
    
    .dropdown-content a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    ul li div a{
      font-size: 12px;
    }
    ul li div a:hover{
      color: rgb(29, 14, 85);
    }
    .dropdown:hover .dropdown-content {display: block;}


@media (max-width: 768px) {
    header {
        text-align: left;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}


.input[readonly] {
    background-color: #f0f0f0;
}


img{
    width: 100px;
    
  }
  
  .imagem{
  
    margin: 0;
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }
  
  #sair{
    margin-top: 2%;
    margin-right: 10%;
  }
  #menu{
    margin-top: 1.5%;
    
  }
  #imagem{
    margin-left: 5%;
  }
  
  nav{
    display: flex;
    justify-content: space-between;
  }

 
/*Tabela*/


.center-div {
  width: 70%;
  margin: auto;

}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: #2c2b2b; /* Cinza */
  background-color: #FFFFFF; /* Azul Claro */
  border-radius: 5px;
}
th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
/* Estilos para os botões */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 5px 12px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.btn:hover {
  opacity: 1;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-trash {
  background: #f44336;
  color: white;
}
.fa-edit {
  background: #4CAF50;
  color: white;
}
.fa-file {
  background: #2196F3;
  color: white;
}
/* Estilos para as legendas */
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  table, thead, tbody, th, td, tr {
      display: block;
  }
  thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
  }
  tr { margin: 0 0 1rem 0; }
  td {
      border: none;
      border-bottom: 3px solid #ddd;
      position: relative;
      padding-left: 50%;
  }
  td:before {
      position: absolute;
      top: 0;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
  }
  td:nth-of-type(1):before { content: "Nome"; }
  td:nth-of-type(2):before { content: "E-mail"; }
  td:nth-of-type(3):before { content: "Telefone"; }
  td:nth-of-type(4):before { content: "Ações"; }
}
input {
  border: none;
}
