body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #c5c4c4;
  
  }
  
  header {
      background-color: #003366;
      color: #fff;
      padding: 10px 0;
      text-align: center;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  nav ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
  }
  
  nav ul li {
      margin-right: 20px;
  }
  
  nav ul li a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
  }
  
  .content {
      padding: 20px;
  }
  
  nav ul li a:hover {
      color: rgb(110, 110, 165); 
  }
  
  .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      background-color: rgb(39, 53, 134);
     
      z-index: 1;
      border-radius: 10px;
    }
    
    .dropdown-content a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    ul li div a{
      font-size: 12px;
    }
    ul li div a:hover{
      color: rgb(29, 14, 85);
    }
    .dropdown:hover .dropdown-content {display: block;}


@media (max-width: 768px) {
    header {
        text-align: left;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header" "main";
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5%;
    max-width: 70%;
    max-height: 80%;
}

.header-container {
    grid-area: header;
    text-align: center;
    background-color: #7B4F7D;
    color: #fff;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

main {
    grid-area: main;
    padding: 20px;
}

.invoice-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

button {
    background-color: #7B4F7D;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    max-width: 40%;
    max-height: 70%;

}

button:hover {
    background-color: #0C3D39;
}

.input[readonly] {
    background-color: #f0f0f0;
}


img{
    width: 100px;
    
  }
  
  .imagem{
  
    margin: 0;
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }
  
  #sair{
    margin-top: 2%;
    margin-right: 10%;
  }
  #menu{
    margin-top: 1.5%;
    
  }
  #imagem{
    margin-left: 5%;
  }
  
  nav{
    display: flex;
    justify-content: space-between;
  }